build
cmake-build-debug-event-trace
cmake-build-debug
managed_components
.envrc
.idea
build/
sdkconfig.old
build/bootloader
build
.vscode/
.DS_Store
sad.txt
sdkconfig
Kconfig
.cproject
.project
components/mosquitto/Kconfig